.footer{
    background: #BCDDFE;
    .footer-title{
        font-weight: bold;
    }
    .driver{
        color: #000;
        height: 10px;
        margin: 10px 0;
    }
    .copyRight{
        text-align: center;
        margin: 0;
    }
}