/* .slider{ */
    .slider__bg{
        background-image: url('./bg/bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &__title{
            font-size: 64px;
            font-weight: bold;
            color: #fff;
            max-width: 560px;
            position: absolute;
            bottom: 100px;

        }
    }

/* } */