.cover-one{
    margin-top: 50px;
    .img-box{
        margin-right: 50px;
        img{
            filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.4));
            border-radius: 10px;
            width: 400px;
        }
    }
    .img-change{
        display: flex;
        justify-content: space-between;
        
        img{
            filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2));
            margin-top: 20px;
            width: 90px;
            cursor: pointer;
            border-radius: 10px;
        }
        
    }
    .active{
        opacity: 1;
        border: 1px solid red;
        
    }
    .imfo-col{
        
        margin-right: 50px;
        h1{
            font-size:1.8em;
        }
        .vote-star{
            display: flex;
            li{
                margin-right: 20px;
            }
            &::after{
                position: absolute;
                content: "";
                height: 2px;
                width: 500px;
                margin-top: 70px;
                background-color: rgb(245, 245, 245);
            }
        }
        .sale-imfo{
            margin-top: 20px;
            .price{
                display: flex;
                
                li{
                    margin-right: 30px;
                }
                .new{
                    color: #40BFFF;
                    font-size: 1.6em;
                    font-weight: bold;
                }
                .old{
                    color: #9098B1;
                    margin-top: 5px;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        height: 1px;
                        width: 100%;
                        margin-top: 11px;
                        background-color: #9098B1;
                    }
                }
                .percent{
                    color: #FB7181;
                    font-weight: bold;
                    margin-top: 5px;
                }
            }
            p{
                font-weight: 600;
                
            }
            &::after{
                position: absolute;
                content: "";
                height: 2px;
                width: 500px;
                margin-top: 10px;
                background-color: rgb(245, 245, 245);
            }
        }
    
        .size-color{
            margin-top: 30px;
            .box-one{
                margin-bottom: 20px;
                .select-color{
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    margin-right: 10px;
                    border: 2px solid #ddd;
                    outline: none;

                }
                span{
                    margin-right: 10px;
                    font-weight: 600;
                }
    
            }
            .box-two{
                span{
                    margin-right: 20px;
                    font-weight: 600;
                }
            }
            &::after{
                position: absolute;
                content: "";
                height: 2px;
                width: 500px;
                margin-top: 20px;
                background-color: rgb(245, 245, 245);
            }
        }
        .add-cart{
            margin-top: 40px;
            .btn-add{
                border: none;
                color: #33A0FF;
                background: #bcdffd;
            }
            &::after{
                position: absolute;
                content: "";
                height: 2px;
                width: 500px;
                margin-top: 20px;
                background-color: rgb(245, 245, 245);
            }
        }
        .social-network{
            margin-top: 40px;
            .btn-facebook{
                font-size: 20px;
                width: 240px;
                height: 50px;
                background: #385C8E;
                margin-right: 10px;
            }
            .btn-switter{
                font-size: 20px;
                width: 240px;
                height: 50px;
                background: #03A9F4;
            }
        }
    }
    
    .best-seller{
        margin-top: 10px;
        h1{
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #C1C8CE;
            font-size: 1.2em;
        }
        .box{
                
                .price{
                    display: flex;
                    
                    li{
                        margin-right: 10px;
                    }
                    .new{
                        color: #FB7181;
                        font-size: 1.5em; 
                        font-weight: 600;
                    }
                    .old{
                        color: #9098B1;
                        margin-top: 5px;
                        &::before{
                            position: absolute;
                            content: "";
                            height: 1px;
                            width: 50px;
                            margin-top: 10px;
                            background-color: #9098B1;
                        }
                    }
        
            }
           
        }
    }
}

.cover-two{
    margin-top: 50px;
    
    .comments{
        background: #f5f5f5ea;
        padding: 20px;
    }
}